body {
    /*background: url(../static/bg.png) left top repeat ;*/

}
.panel-body {
    /*background: url(../static/bg.png) left top repeat ;*/
}

.form-signin, .form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-thread {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}

.form-thread input[id] {
  margin-bottom: 10px;
}

.form-signin input[id] {
  margin-bottom: 10px;
}

.form-signup input[id] {
  margin-bottom: 10px;
}

.form-signin .form-control, .form-signup .form-control, .form-thread .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}