{% extends "base.html" %}
{% block body %}
    <h1>Przeglądaj wątki w kategorii <b>{{threads.0.category.name}}</b> </h1>
    <!--{% for t in threads%}-->
        <!--tytul: {{t.title}} ||-->
        <!--content: {{t.content}} ||-->
        <!--user: {{t.user}}-->
        <!--<br/>-->
    <!--{%endfor%}-->
        {% for t in threads%}
       <div class="row">
            <div class="col-6 col-sm-6 col-lg-12">
              <div class="panel panel-success">
                  <!--<div class="panel-heading">
                    {{ t.title }}
                    </div> -->
                    <div class="panel-body">
                        <ul class="media-list">
                          <li class="media">
                            <a class="pull-left" href="#">
                              <img class="media-object" src="{{ STATIC_URL }}64x64.jpg" alt="{{ t.user }}">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="{% url 'thread' t.id %}">{{ t.title }}</a> </h4>
                              <h6>Dodane przez <span class="badge badge-xs">{{t.user}}</span>, {{t.date_created}}</h6>
                              {{t.content}}
                                 <span class="glyphicon glyphicon-thumbs-up">12 </span>
                            </div>
                          </li>
                        </ul>
                        </div>


              </div>
             </div><!--/span-->



          </div><!--/row-->
        {%endfor%}

    <!--page navigation-->
    <nav>
    <ul class="pager">

        {% if threads.has_previous %}
        <li><a href="?page={{ threads.previous_page_number }}">previous</a></li>
        {% endif %}

        <span class="current">
        Strona {{ threads.number }} z {{ threads.paginator.num_pages }}.
        </span>

        {% if threads.has_next %}
        <li><a href="?page={{ threads.next_page_number }}">next</a></li>
        {% endif %}
    </ul>
  </nav>


{% endblock %}


{% block cat %}
    {% for c in categories%}
    <li><a href="{% url 'category' c.id %}">{{c.name}}</a></li>
    {%endfor%}
{% endblock %}