{% extends "base.html" %}

{% block title %}Admin - edycj danych {% endblock %}

{% block body %}
<div class="media">
    <div class="media-body">
      <form class="form-signup" role="form" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Edycja danych</h2>
        <label for="id_login">Login:</label>
        {{ form.login }}
        <label for="id_email">Email:</label>
        {{ form.email }}
        <label for="id_ban">Zablokowany:</label>
        <div class="checkbox">
          <label>
            {{ form.ban }} ban
          </label>
        </div>
        <label for="id_type">Rodzaj użytkownika</label>
        {{ form.type }}
        <center><h4><span class="label label-danger label-lg">{{message}}</span></h4></center>


        <button class="btn btn-lg btn-primary btn-block" type="submit">Zmień dane</button>
        <button class="btn btn-lg btn-default btn-block" type="reset">Anuluj</button>
      </form>
    </div>
</div>
{% endblock %}
