{% extends "base.html" %}
{% block body %}


          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Witaj!</h1>
            <br/>
            <a href="{% url 'new_thread' %}" class="btn btn-success btn-lg" role="button">Dodaj wątek</a>
          </div>
     <!--<p><a href="{% url 'new_thread' %}" class="btn btn-success btn-lg" role="button">Dodaj wątek</a></p>-->
    <h1>Najnowsze wątki.</h1>
     {%for t in threads%}
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-12">
              <div class="panel panel-success">
                  <!--<div class="panel-heading">
                    {{ t.title }}
                    </div> -->
                    <div class="panel-body">
                        <ul class="media-list">
                          <li class="media">
                            <a class="pull-left" href="#">
                              <img class="media-object" src="{{ STATIC_URL }}64x64.jpg" alt="...">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="#">{{ t.title }}</a> </h4>
                              <h6>Dodane przez <span class="badge badge-xs">{{t.user}}</span>, {{t.date_created}}</h6>
                              {{t.content}}
                                 <span class="glyphicon glyphicon-thumbs-up">12 </span>
                            </div>
                          </li>
                        </ul>
                        </div>


              </div>
             </div><!--/span-->



          </div><!--/row-->
     {%endfor%}



{% endblock %}

{% block cat %}

    {% for c in categories%}
    <li><a href="#">{{c.name}}</a></li>
    {%endfor%}

{% endblock %}

{% block popular %}
<li><a href="#">aaaaaaaaaa</a></li>
    {% for p in popular %}
    <li><a href="#">{{p.content}}</a></li>

    {%endfor%}

{% endblock %}