{% extends "base.html" %}

{% block body %}

    <div>
       <form method="post" action="">
            {% csrf_token %}
            <table>
            <tr>
                <td>Tytuł: </td>
                <td> {{ form.title }}</td>
            </tr>
            <tr>
                <td>Treść: </td>
                <td> {{ form.content }}</td>
            </tr>
                <tr>
                <td>Categria: </td>
                <td> {{ form.category }}</td>
            </tr>
                <tr>
                <td>Użytkownik: </td>
                <td> {{ form.user }}</td>
            </tr>
            </table>
            <input type="submit" class="btn btn-default" value="Zatwierdź">
            <input type="reset" class="btn btn-default" value="Anuluj">
       </form>
    </div>

{% endblock %}