{% extends "base.html" %}

{% block body %}
    <div class="media">
    <div class="media-body">
      <form class="form-signin" role="form" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Logowanie</h2>
        <label for="id_tytul">Tytuł:</label>
        {{ form.title }}
        <label for="id_tresc">treść:</label>
        {{ form.content }}
        <label for="id_tresc">Kategoria:</label>
        {{ form.category }}
        <center><h4><span class="label label-danger label-lg">{{message}}</span></h4></center>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj wątek</button>
      </form>
    </div>
</div>

        <!-- koniec-->


{% endblock %}

{% block cat %}
    {% for c in categories%}
    <li><a href="{% url 'category' c.id %}">{{c.name}}</a></li>
    {%endfor%}
{% endblock %}