{% extends "base.html" %}

{% block title %}Wątek{% endblock %}

{% block body %}


                <!-- aaaaaaaa -->
<div class="media">

      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
      </a>

      <div class="media-body">
        <h3 class="media-heading">{{thread.title}}

            {% if request.session.userId and thread.user.id == request.session.userId or request.session.admin %}
            <a href="{% url 'editThread' thread.id %}" class="btn"><span class="glyphicon glyphicon-pencil"></span> Edytuj</a>
            <a href="{% url 'delThread' thread.id %}" class="btn"><span class="glyphicon glyphicon-trash"></span> Usuń</a>
            {% endif %}
        </h3>
        <h6>Dodane przez <span class="badge badge-xs">{{thread.user}}</span>, {{thread.date_created}}</h6>
        <p class="content">{{thread.content}}</p>
        <div>
            <div class="odp"><a href="#"><span class="badge badge-green">Odpowiedz</span></a></div>
            <div class="divider2">·</div>
            <div class="odp">liczba odpowiedzi: {{ thread.response|length }} </div>
            <div class="divider2">·</div>
            <div class="odp"><span class="glyphicon glyphicon-lg glyphicon-thumbs-up "></span> {{thread.rating|length}}</div>
            {% if request.session.login or request.session.admin %}
            <div class="report">
               <a href="{% url 'reportThread' thread.id %}"><span class="glyphicon glyphicon glyphicon-flag" aria-label="zgłoś"></span> Zgłoś</a>
            </div>
            {% endif %}
        </div>
        {% if request.session.login or request.session.admin %}



          <!--formularz do odpowiedzi-->
        <div class="media">
          <div class="media-body">
            <form class="form-response" role="form" method="post">
                {% csrf_token %}
                {{ form.content }}
                 <!--<input type="submit" class="btn btn-primary btn-sm" value="Odpowiedz">-->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Odpowiedz</button>
            </form>
          </div>
        </div>
        {% endif %}

          {% for r in responses %}

          <div class="panel panel-default">
  <div class="panel-body">
          <div class="media">

            <a class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
          </a>

          <div class="media-body">

            <h4 class="media-heading"> {{r.user.login }}</h4>
            {{r.content}}
            Odpowiedział(a): {{r.user}}
              {% if request.session.login or request.session.admin %}
            <div class="report">
               <a href="{% url 'reportResponse' r.id %}"><span class="glyphicon glyphicon glyphicon-flag" aria-label="zgłoś"></span> Zgłoś</a>
            </div>
            {% endif %}

          </div>
          </div>
      </div></div>
          {% endfor %}
      </div>
</div>

<!--page navigation-->
    <nav>
    <ul class="pager">

        {% if responses.has_previous %}
        <li><a href="?page={{ responses.previous_page_number }}">poprzednia</a></li>
        {% endif %}

        <span class="current">
        Strona {{ responses.number }} z {{ responses.paginator.num_pages }}.
        </span>

        {% if responses.has_next %}
        <li><a href="?page={{ responses.next_page_number }}">następna</a></li>
        {% endif %}
    </ul>
  </nav>

{% endblock %}


{% block cat %}
    {% for c in categories%}
    <li><a href="{% url 'category' c.id %}">{{c.name}}</a></li>
    {%endfor%}
{% endblock %}

